<style type="text/css">
    .scroll-content {
        background: url('./img/background20.png');
    }
</style>

<ion-view view-title="Storm Chasers">
  <ion-content>
    <h3 class="padding">This is the testing version of the app, made by 
    <span style="color: yellow">Christopher</span><span style="color: blue">Castro</span>
    <span style="color: black">. Please report immediately to him if you have this version, because it should not be on a tablet that is needed</span>
    </h3>
  </ion-content>
</ion-view>