<style type="text/css">
    .scroll-content {
        background: url('./img/background20.png');
    }
</style>

<ion-view view-title="Storm Chasers">
  <ion-content>
    <h3 class="padding">This is the testing version of the app, made by 
    stlye="color: yellow"
    Christopher
    style="color: blue"
    Castro
    style="color: black"
    . Please report immediately to him if you have this version, as it should
    not be on a tablet that is needed at this time.</h3>
  </ion-content>
</ion-view>