<ion-view view-title="(  ͡° ͜ʖ ͡°) ">
  <ion-content class="padding">
    <h3 class="padding">
      This is the button for importing the team roster and match 
      schedule. Before tapping this button, make sure that you 
      have copied over the match schedule text file from the 
      laptop to the tablet's root directory.
    </h3>
    <button 
      class="button button-block button-positive padding"
      style="color: green; background-color: blue"
      ng-click="importTeamData()">
      Goodbye Scotty!
    </button>
  	<h3 class="padding">
  		When the data manager asks you to export your data, 
  		this is the button to use. There is no need to export 
  		after each match (in fact, that makes life harder for 
  		the data manager... and we like our data managers happy).
  	</h3>
    <button 
      class="button button-block button-positive padding"
      style="color: black; background-color: yellow"
      ng-click="exportData()">
      Beam me up Scotty!
    </button>
    <button
    class="button button-block button-positive padding"
    style="color: magenta; background-color: white; border: green"
    ng-click="Doge()">
      Dogey!!
    </button>
  </ion-content>
</ion-viewo
